@import "./index.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body,
a,
input,
button,
textarea {
  font-family: $fontPoppins;
}

ul,
ol {
  list-style: none;
}
